body {
	font-family: Arial, Helvetica, sans-serif;
    margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	font-size:12px;
	line-height:25px;
}

input{
	widows:400px;
	height:18px;
	font-family:"ו";
	color:#666666;
	border: 1px solid #CCCCCC;
}
td {
	font-family: Arial, Helvetica, sans-serif;
}

th {
	font-family: Arial, Helvetica, sans-serif;
}
.title{
font-size:24px; color:#FFFFFF
}
.banklogo{
width:180px;
overflow:hidden;
display:inline;
}
